<mat-card class="bugs-card">
    <mat-card-header>
        <mat-card-title>Bugs{{viewOpen ? '' : ' - Closed'}}</mat-card-title>
        <span class="spacer"></span>
        <button mat-button color="primary" (click)="viewOpenToggle()">{{viewOpen ? 'View Closed' : 'View Open'}}</button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button color="primary" (click)="newBug()">New Bug</button>
    </mat-card-header>

    <mat-card-content>
        <mat-table [dataSource]="bugs" matSort (matSortChange)="sortData($event)">

            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
              <mat-cell *matCellDef="let element"> <a [routerLink]="'/bug/' + element.bugId">{{element.title}}</a> </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> <div class="description-cell text-area-display">{{element.description}}</div> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="priority">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.priority | bugPriority}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="assignedUser">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned User </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.assignedUser.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateCreated">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateCreated | date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateClosed">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date Closed </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateClosed | date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-button color="primary" (click)="editBug(element)">Edit</button>
                  @if(viewOpen) {
                    <button mat-button color="primary" (click)="closeBug(element)">Close</button>
                  }
                </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>

    <mat-card-actions>

    </mat-card-actions>
</mat-card>