.table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0px 20px;
}

.header-col {
    width: 20%;
    text-align: left;
    vertical-align: top;
}

.header {
    vertical-align: top;
}

.data-col {
    width: 80%;
    text-align: left;
    vertical-align: top;
}

td {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
