/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spacer {
    flex: 1 1 auto;
}

.form-field {
    width: 100%;
}

.snackbar-error {
    color: white;
    --mdc-snackbar-container-color: red;
}
.snackbar-error button {
    background-color: red;
    color: white !important;
    border: none;
}

.snackbar-success {
    color: white;
    --mdc-snackbar-container-color: green;
}
.snackbar-success button {
    background-color: green;
    color: white !important;
    border: none;
}